{% extends "base.html" %}
{% block title %}Parking{% endblock %}
{% block content %}
<style>
  .parking-lot {
      max-width: 600px;
      height: 450px;
      border: 2px solid black;
      position: relative;
      box-sizing: border-box;
      margin: auto;
      padding: 0 120px; 
      display: flex;
      align-items: flex-start; 
  }

 .parking-spot {
    width: calc(60%); 
    height: calc(40%);
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
    cursor: pointer; 
    text-decoration: none; 
    color: inherit; 
    background-color: inherit;
    transition: none;
  }

  .parking-spot:hover {
    text-decoration: none; 
    color: black;
  }

  .parking-spot:first-child {
    border-left: 2px solid black;
  }

  .parking-spot:not(:last-child) {
      border-right: 2px solid black;
  }

  .entrance-exit {
    width: calc(60%);
    height: calc(20%);
    border: 2px solid black;
    border-bottom: none;  
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .free {
    background-color: #22DD22;
  }
  .occupied {
    background-color: red;
  }
  .reserved {
    background-color: yellow;
  }
</style>
<br>
<h1 class="text-center">Smart Parking Status</h1>
<div class="parking-lot">
  {% for spot in parking_spots %}
  <div class="parking-spot {% if spot.state == 1 %}free{% elif spot.state == 2 %}reserved{% elif spot.state == 3 %}occupied{% endif %}" data-spot-id="{{ spot.id }}">
    {{ spot.id }}
  </div>
  {% endfor %}

  <div class="entrance-exit"></div>
  <br>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.parking-spot').click(function() {
      var spotId = $(this).data('spot-id');
      var currentState = $(this).attr('class').split(' ')[1];
      var newState;

      if (currentState === 'free') {
        newState = 2; 
      } else if (currentState === 'reserved') {
        newState = 3; 
      } else {
        newState = 1;
      }

      $.ajax({
        url: '/parking',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ spot_id: spotId, state: newState }),
        success: function(response) {
          var newClass = (newState === 1) ? 'free' : (newState === 2) ? 'reserved' : 'occupied';
          $('.parking-spot[data-spot-id="' + spotId + '"]').removeClass('free reserved occupied').addClass(newClass);
          alert('Parking spot updated successfully!');
        },
        error: function(xhr, status, error) {
          alert('Error updating parking spot: ' + error);
        }
      });
    });
  });
</script>

{% endblock %}
